<!doctype html>
<html lang="en">

<body class="text-center">

    <main class="form-signin">
        <form>
            <h1 class="h3 mb-3 fw-normal">¿Seguro quiere loguearse? OK...</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                    [(ngModel)]='email' name='email'>
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                    [(ngModel)]='password' name='password'>
                <label for="floatingPassword">Password</label>
            </div>
        </form>

        <button class="btn btn-md btn-primary" type="submit" (click)="logIn()">Ingresar</button>
        <br>
        <br>
        <a class="w-100 btn btn-sm btn-secondary" type="submit" href="/registro">Registrarse</a>

        <div class="mat-fab-bottom-right">
            <button mat-fab class="adminButton" (click)="cargarAdmin()">
            </button>
            <span>Administrador</span>
            <button mat-fab class="espec1Button" (click)="cargarEspecialista1()">
            </button>
            <span>Especialista1</span>
            <button mat-fab class="espec2Button" (click)="cargarEspecialista2()">
            </button>
            <span>Especialista2</span>
            <button mat-fab class="pac1Button" (click)="cargarPaciente1()">
            </button>
            <span>Paciente1</span>
            <button mat-fab class="pac2Button" (click)="cargarPaciente2()">
            </button>
            <span>Paciente2</span>
            <button mat-fab class="pac3Button" (click)="cargarPaciente3()">
            </button>
            <span>Paciente3</span>


        </div>
    </main>



</body>

</html>