html,
body {
  height: 91vh !important;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: fit-content;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn {
  margin: 0.1%;
}

.mat-fab-bottom-right {
  display:grid;
  position: fixed !important;
  right: 15px;
  bottom: 15px;
}

.adminButton {
  background-image: url(../images/admin.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.espec1Button {
  background-image: url(../images/espec1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.espec2Button {
  background-image: url(../images/espec2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pac1Button {
  background-image: url(../images/pac1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pac2Button {
  background-image: url(../images/pac2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pac3Button {
  background-image: url(../images/pac3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
