.fab-button:hover {
    z-index: 1000;
    transform: scale(1.5);
}

.fastAccessButton {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    display: grid;
}
