<p>{{mensajeFiltro}}</p>
<p><input type="text" [(ngModel)]="filter"></p>

<div class="table-responsive">
    <table *ngIf="tipoUsuario=='administrador'" class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Especialidad</th>
                <th scope="col">Especialista</th>
                <th scope="col">Paciente</th>
                <th scope="col">Fecha</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody (click)="SeleccionarTurno(turno)"
            *ngFor="let turno of arrayTurnosAdministrador | filtroMixtoEspecialidadEspecialista:filter">
            <tr>
                <td>{{turno.especialidad}}</td>
                <td>{{turno.especialistaNombre}}</td>
                <td>{{turno.pacienteNombre}}</td>
                <td>{{turno.fecha}}</td>
                <td [ngStyle]="styleObject(turno)">
                    {{turno.estado}}
                </td>
            </tr>
        </tbody>
    </table>
    <table *ngIf="tipoUsuario=='especialista'" class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Paciente</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Fecha</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody (click)="SeleccionarTurno(turno)"
            *ngFor="let turno of arrayTurnosEspecialista | filtroMixtoEspecialidadPaciente:filter">
            <tr>
                <td>{{turno.pacienteNombre}}</td>
                <td>{{turno.especialidad}}</td>
                <td>{{turno.fecha}}</td>
                <td [ngStyle]="styleObject(turno)">
                    {{turno.estado}}
                </td>
            </tr>
        </tbody>
    </table>
    <table *ngIf="tipoUsuario=='paciente'" class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Especialidad</th>
                <th scope="col">Especialista</th>
                <th scope="col">Fecha</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody (click)="SeleccionarTurno(turno)"
            *ngFor="let turno of arrayTurnosPaciente | filtroMixtoEspecialidadEspecialista:filter">
            <tr>
                <td>{{turno.especialidad}}</td>
                <td>{{turno.especialistaNombre}}</td>
                <td>{{turno.fecha}}</td>
                <td [ngStyle]="styleObject(turno)">
                    {{turno.estado}}
                </td>
            </tr>
        </tbody>
    </table>
</div>