<!doctype html>
<html lang="en">

<body class="text-center">

  <main class="form-signin">

    
    <button rounded=true class="btn btn-lg btn-primary btn-paciente" type="submit"
      (click)="registrarPaciente()"><h1>Registrar Paciente</h1></button>

    <button rounded=true class="btn btn-lg btn-primary btn-especialista" type="submit"
      (click)="registrarEspecialista()">    <h1>Registrar Especialista</h1>
    </button>

    
    <button rounded=true *ngIf="esAdmin && isUserPanel" class="btn btn-lg btn-primary" type="submit"
      (click)="registrarAdministrador()"><h1>Registrar Administrador</h1></button>
    <br>
    <br>

    <form>

      <app-registro-paciente *ngIf="regPaciente">
      </app-registro-paciente>
      <app-registro-especialista *ngIf="regEspecialista">
      </app-registro-especialista>
      <app-registro-administrador *ngIf="regAdministrador">
      </app-registro-administrador>


    </form>

  </main>
</body>

</html>