@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@keyframes rotation {
  to {
    transform: rotate(360deg) translateX(-50%) translateY(-50%);
  }
}

html,
body,
main {
  height: 91vh !important;
}

body {
  display: contents;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  font-family: 'Bangers', cursive;
  animation: rotation 20s infinite linear;

}

.btn {
  margin: 1%;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 400px;
}

.btn-paciente {
  background-image: url(../images/paciente.jpeg);
}

.btn-especialista {
  background-image: url(../images/especialista.jpeg);
}

h1 {
  position:relative;
  top: 100px;
  color:rgb(0, 0, 0);
  z-index: 2;
  font-size:larger;
  -webkit-text-stroke-color: white;
  letter-spacing: 15px;
  text-transform: uppercase;
  transform: rotate(-10deg);
  text-shadow: 1px 1px hsl(0, 70%, 40%),
               2px 2px hsl(0, 100%,39%),
               3px 3px hsl(0, 100%, 38%),
               4px 4px hsl(0, 100%, 37%),
               5px 5px hsl(0, 100%, 36%),
               6px 6px hsl(0, 100%, 35%),
               7px 7px hsl(0, 100%, 34%),
               8px 8px hsl(0, 100%, 33%),
               9px 9px hsl(0, 100%, 32%),
               10px 10px hsl(0, 100%, 31%),
               10px 10px 30px rgba(0,0,0,.7),
}
