<!doctype html>
<html lang="en">

<body class="text-center">

  <main class="form-signin">

    <div *ngIf="!isUserPanel">
      <a rounded=true class="btn btn-lg btn-primary btn-paciente" type="submit" href="registro/paciente">
        <h1>Registrar Paciente</h1>
      </a>
      
      <a rounded=true class="btn btn-lg btn-primary btn-especialista" type="submit"
      href="registro/especialista">
        <h1>Registrar Especialista</h1>
    </a>
      
    </div>


    <div *ngIf="isUserPanel">
      <button class="btn btn-md btn-primary " type="submit" (click)="registrarPaciente()">
        Registrar Paciente
      </button>

      <button class="btn btn-md btn-primary " type="submit"
        (click)="registrarEspecialista()">
        Registrar Especialista
      </button>


      <button class="btn btn-md btn-primary" type="submit" (click)="registrarAdministrador()">
        Registrar Administrador
      </button>
      
    </div>

    <br>
    <br>

    <form>

      <app-registro-paciente *ngIf="regPaciente">
      </app-registro-paciente>
      <app-registro-especialista *ngIf="regEspecialista">
      </app-registro-especialista>
      <app-registro-administrador *ngIf="regAdministrador">
      </app-registro-administrador>

    </form>

  </main>
</body>

</html>