<!doctype html>
<html lang="en">

<body class="text-center">

  <main class="form-signin">

    <button class="btn btn-md btn-primary" type="submit" (click)="registrarPaciente()">Registrar
      Paciente</button>

    <button class="btn btn-md btn-primary" type="submit" (click)="registrarEspecialista()">Registrar
      Especialista</button>

    <button *ngIf="esAdmin" class="btn btn-md btn-primary" type="submit" (click)="registrarAdministrador()">Registrar
      Administrador</button>
    <br>
    <br>

    <form>

      <app-registro-paciente *ngIf="regPaciente">
      </app-registro-paciente>
      <app-registro-especialista *ngIf="regEspecialista">
      </app-registro-especialista>
      <app-registro-administrador *ngIf="regAdministrador">
      </app-registro-administrador>


    </form>

  </main>
</body>

</html>